{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <h1 style="text-align: center;">Monitoring Proses Blue Green Deployment</h1>
        <div style="text-align: center; margin-top: 20px;">
            <button class="btn btn-success" style="margin-right: 10px;">Start</button>
            <button class="btn btn-danger">Interrupt</button>
        </div>
        <div style="margin-top: 30px;">
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <br>
            <div style="background-color: #4475ef; padding: 10px; text-align: center;">
                <p style="color: #D1E7DD; font-weight: bold; margin: 0;">Status : On Progress</p>
            </div>              
        </div>
    </div>
</div>
{% endblock %}
