{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div>
        <h1 style="text-align: center;">Cannary Deployment</h1>
        <p  style="text-align: justify; width: 100%;">
            Canary deployment adalah salah satu metode yang digunakan dalam praktik pengembangan perangkat lunak untuk memperkenalkan 
            perubahan pada aplikasi secara bertahap dan aman kepada pengguna. Dalam canary deployment, versi baru dari aplikasi 
            diperkenalkan kepada sebagian kecil pengguna (disebut sebagai "canary group" atau "canary users") sebelum diperkenalkan secara 
            luas kepada semua pengguna. Tujuan utama dari canary deployment adalah untuk mengurangi risiko perubahan besar pada aplikasi 
            yang dapat menyebabkan gangguan atau masalah bagi pengguna. Dengan memperkenalkan perubahan secara bertahap, tim pengembang 
            dapat memonitor kinerja aplikasi baru dan mendeteksi masalah potensial sebelum mereka mempengaruhi seluruh basis pengguna. 
            Jika perubahan terbukti berhasil dan stabil pada canary group, maka perubahan tersebut dapat diperkenalkan secara luas kepada 
            semua pengguna. Pendekatan ini memungkinkan pengembang untuk melakukan pengujian real-time dan evaluasi yang lebih baik terhadap 
            perubahan yang mereka buat, sambil meminimalkan dampak negatif pada pengalaman pengguna secara keseluruhan. Dengan demikian, 
            canary deployment merupakan strategi yang berguna dalam upaya untuk meningkatkan keandalan, keamanan, dan kualitas keseluruhan 
            dari sebuah aplikasi.
            <ol>
                <li>Menyelenggarakan pendidikan vokasi di bidang Infrastruktur Telekomunikasi sesuai kebutuhan 
                    industri  di masa kini dan mendatang.</li>
                <li>Menyelenggarakan pendidikan vokasi di bidang Infrastruktur Telekomunikasi sesuai kebutuhan 
                    industri  di masa kini dan mendatang.</li>
                <li>Mengembangkan suasana akademik yang kondusif untuk meningkatkan intelektulitas, produktivitas 
                    dan kualitas kerja yang lebih tinggi.</li>
            </ol>
        </p>
    </div>
</div>
{% endblock %}